@import '../../global.scss';

.portfolio {
  background: linear-gradient(0deg, rgba(14, 13, 13, 0) 12%, rgba(24, 24, 24, 1) 70%);
  height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
  overflow: hidden;

  .titleDiv {
    position: absolute;
    margin-top:30px;
    @media only screen and (max-width: 435px) {
      margin-top: 5px;
    }

    .title {
      letter-spacing: 3px;
      text-align: center;
      font-family: $h1Font;
      font-weight: bold;
      font-size: 2.5em;
      color: $pink;
      @media only screen and (max-width: 635px) {
        font-size: 1.8em;
      }
      @media only screen and (max-width: 435px) {
       // margin:20px 0 5px 0;
        font-size: 1.4em;
      }
    }

    .titleP {
      color: white;
      font-size: 1.2em;
      font-weight: 300;

      @media only screen and (max-width: 635px) {
        display: none;
      }
    }

  }

  /*     Normal Card     */

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 240px 15px 0;
    padding: 20px 0;
    background-color: $background;  
    border: 3px solid white;
    flex-wrap: wrap;
    max-width: 1200px;

    @media only screen and (max-width: 1165px) {
      margin:200px 15px 0px;
    }
    @media only screen and (max-width: 635px) {
      margin-top:95px;
      padding: 3px;
    }
    @media only screen and (max-width: 435px) {
      margin: 85px 8px 0 8px;
    }
  }

  .normalCard {
    width: 180px;
    height: 180px;
    display: grid;
    place-items: end center;
    margin: 15px 23px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.47);
    box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.47);
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 1165px) {
      height: 130px;
      width: 130px;
      margin: 10px;
    }

    @media only screen and (max-width: 685px) {
      height: 90px;
      width: 90px
    }

    @media only screen and (max-width: 420px) {
      height: 70px;
      width: 70px;
    }

    h1 {
      font-size: 16px;
      color: #cfcfcf;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.9);
      backdrop-filter: blur(2px);
      width: 100%;
      margin: 0;
      padding: 5px 0 10px;
      border-radius: 0px 0px 10px 10px;
      text-align: center;
      font-family: 'Sanchez';

      @media only screen and (max-width: 635px) {
        font-size: 13px;
        padding:0;
      }
    }
  }

  /*     expanded card      */

  a {
    text-decoration: none;
    font-size: 1.2em;
    color: #C86E55;
  }

  a:hover {
    color: lightslategray;
  }

  p {
    color: #000000;
    padding: 5px;
    font-size: 1.2em;
  }

  .expanded-card-h {
    font-size: 1.8em;
  }

  /*     Horizontally Expanded     */
  .expandedCardHor {
    position: absolute;
    flex-direction: column;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    font-family: 'Sanchez';

    @media only screen and (max-width: 828px) {
      font-size: .9em;

      .infoHor {
        max-width: 600px;

      }
    }

    @media only screen and (max-width: 500px) {
      .infoHor {
        max-width: 400px;

      }
    }

    @media only screen and (max-width: 410px) {
      .infoHor {
        max-width: 200px
      }
    }

  }

  .classExpandedImgHor {
    width: 100%;
  }

  .infoHor {
    margin: 20px auto;
    text-align: center;
    max-width: 800px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

  }



  /*     Vertically Expanded    */

  .expandedCardVer {
    display: flex;
   // flex-direction: column;
    position: absolute;
    top: 0;
    // left:0;
    width: 100vw;
    z-index: 1;
    height: 100vh;
   
    
    font-family: 'Sanchez';

    @media only screen and (max-width: 970px) {
      flex-direction: column;
      height: 100vh;
      font-size: .75em;

    }
  }

  .classExpandedImgVer {
    display: block;
    max-width: 100%;

    @media only screen and (max-width: 970px) {
      height: 80vh;
      width: 75vw;

    }

    @media only screen and (max-width: 666px) {
      height: 100vh;
      width: 100vh;
    }
  }

  .infoVer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
  }

  /*     expanded background colors     */

  .whiteBackground {
    background-color: rgb(253, 247, 247);
  }

  .simonColor {
    background-color: #ABADBB;
  }

  .todoColor {
    background-color: #B69B3A;
  }

  .motionColor {
    background-color: #D7D1F8;
  }

  .weatherAppColor {
    background-color: #B8C8DD;
  }

  .secretColor {
    background-color: rgba(243, 139, 107, 0.932);
  }

  .newsletterColor {
    background-color: #F49E73;
  }
}

