@import '../../global.scss';

#about{
    background: linear-gradient(0deg, rgba(14,13,13,1) 28%, rgba(48, 45, 45, 0.225) 100%);
    margin:0;
    // position:static;
    // z-index: 7;
}

.aboutText{
    padding-top: 80px;
}