@import '../../global.scss';

.contact{

    text-align: center;
}
.contactText{
    padding-top: 140px;
    z-index: 1;
    // position: absolute;
    color:#CA3E47;
    // text-align: center;
    font-size: 4rem;
}