@import '../../global.scss';


.intro{
  display: flex;
  background: linear-gradient(0deg, rgba(24,24,24,0) 18%, rgba(24,24,24,0.8323704481792717) 65%, rgba(24,24,24,1) 83%);
    // background-image: url(../../images/backgroundVaren.jpg);
    //background-color: lightcoral;
    // background-size:cover;
    // background-repeat: no-repeat;
    // margin-top: -80px;
    // text-align: center;
    // font-family: $h1Font;
.left{
  flex:1;
  //background-color:#181818;

  .introText{
    margin-left:10%;

    .firstText{
        padding-top: 140px;
        position: relative;
        margin:0;
        font-family: $h1Font;
        color:$pink;
        font-size: 4rem;
    }
    .introTwo{
        color:white;
        font-size: 2.7rem;
        font-family: $mainFont;
        margin: 5px;
       font-weight: 200;
       
    }

    h3{
        color:white;
        font-weight: 300;
        font-size: 2em;
    }

}
    span{
        color:$pink;
        font-family:$fontTwo;
    }

    .ityped-cursor {
        animation: blink 1s infinite;
      }

      @keyframes blink {
          50%{
              opacity: 1;
          }
          100%{
              opacity: 0;
          }
      }



      .buttonGroup {
        width: 90%;
        margin: 60px 90px;
        //text-align: center;

        
        a{
          text-decoration: none;
          
        }
      
      button {
        margin: 20px;
        outline: none;
        
      
      }
      .custom-btn {
       width: 210px;
       height: 52px;
      /*   padding: 10px 25px; */
        border: 2px solid white;
       // font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: rgba(14, 13, 13, .6);
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
      }
      
      .btn-text{
        font-family: $mainFont;
        font-weight: 300;
        font-size: 1.3em;
        color:white;
        position: relative;
        margin:0;
      }
      .btn-3 {
        line-height: 39px;
        padding: 0;
      }
 
      .btn-3 span {
        position: relative;
        color: white;
        display: block;
        width: 100%;
        height: 100%;
      ;
      }
      .btn-3:before,
      .btn-3:after {
        position: absolute;
        content: "";
        left: -1px;
        top: -1px;
        background: white;
        transition: all 0.3s ease;
      }
      .btn-3:before {
        height: 0%;
        width: 3px;
      }
      .btn-3:after {
        width: 0%;
        height: 3px;
      }
      .btn-3:hover:before {
        height: 100%;
      }
      .btn-3:hover:after {
        width: 100%;
      }
      .btn-3 span:before,
      .btn-3 span:after {
        position: absolute;
        content: "";
        right: -1px;
        bottom: -1px;
        background: white;
        transition: all 0.3s ease;
      }
      .btn-3 span:before {
        width: 3px;
        height: 0%;
      }
      .btn-3 span:after {
        width: 0%;
        height: 3px;
      }
      .btn-3 span:hover:before {
        height: 100%;
        color:white;
      }
      .btn-3 span:hover:after {
        width: 100%;
      }
    }

  }

    .right{
      flex:.6;

      .avatar{
        margin: 25% 0;
      }
    }
}