@import '../../global.scss';

.contact {
  text-align: center;
  background: linear-gradient(0deg, rgba(24,24,24,1) 31%, rgba(24,24,24,0) 67%);
  display: flex;
  //flex-direction: column;
  //align-items: center;
 

  .formContainer {
    background: transparent;
    padding: 10px 30px 10px 30px;
    width: 100%;
    margin: 50px  auto;


      h1 {
        letter-spacing: 3px;
        text-align: center;
        font-family: $h1Font;
        font-weight: bold;
        font-size: 2.5em;
        color: $pink;
      }

    



    .formDiv {
      margin: 60px  400px;
      border: 3px solid white;
      background-color:rgba(0, 0, 0, 0.418);
      padding: 60px 80px 10px 80px;
      overflow: hidden;


      form {
        display: flex;
        flex-direction: column;
      }

      .input {
        margin-bottom: 25px;
        border-radius: 5px;
        width: 368px;
        align-self: center;
        background-color: rgb(218, 218, 218);
      }

      .textArea {
        margin:auto;
        width: 350px;
        height: 200px;
        font-size: 19px;
        font-weight: 300;
        border-radius: 5px;
        border: 1px solid rgba(8, 8, 8, 0.2);
        //background-color: rgba(8, 8, 8, 0);
        background-color:rgb(218, 218, 218);
        padding: 10px;

        &:focus {
          outline: 2px solid $pink;
        }

        &:active {
          border: 2px solid $pink;

        }

        &:hover {
          border: 1px solid rgba(8, 8, 8, .9);
        }

        &::placeholder {
          color: rgba(49, 53, 53, 0.671);

        }

      }
.emailErr{
  color:$pink;
  font-weight: 300;
  padding:0;
  margin-bottom:6px;
}
      button {
        margin: 30px auto;
        width: 130px;
        height: 42px;
        color: black;
        background-color: $pink;
        border: none;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background-color: $darkPink;
        }

        &:focus {
          outline: none;
        }

        .loader{
          color:rgb(233, 233, 233);
          size: .8rem;
        }

      }

      .submitMessage {
        margin: 1px auto 10px auto;
        font-weight: 400;
        font-size: 1em;
        color:#fff;
      }

    }
  }

  .footerRight {
    height: 100%;
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    width: 17%;
    margin-left: auto;
    border-left: 3px solid white;

     
    hr {
      margin-top: 30px;
      text-align: center;
      width: 90px;
      height: 2px;
      border: none;
      background-color: white;
      //margin-bottom: 10px;
      //position: relative;
    }

    h1{
      margin-top: 80px;
      letter-spacing: 3px;
      text-align: center;
      font-family: $h1Font;
      font-weight: bold;
      font-size: 2.5em;
      color: $pink;
    }

    .details {
      text-align: left;
      font-weight: 300;
      margin: 60px 27px;
      height:100%;
      font-size: 1.1em;

      .NL{
        margin-left: 43px;
      }

      a {
        text-decoration: none;
        color: floralwhite;
      }

      a:hover{
        color:$pink;
        font-weight: bold;
      }
  


      .icon{
        position: relative;
        margin: 10px 13px 0 0;
        top:6px;
      }
      .text{
        margin-left:4px;
      }


    }

    .copyright {
      text-align: center;
       margin-bottom: 40px;
      
    }

  }

  // }

}