@import '../../global.scss';

.contact {
  text-align: center;
  background: linear-gradient(0deg, rgba(24, 24, 24, 1) 20%, rgba(24, 24, 24, 0) 67%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: 1005px) {
    flex-direction: column;
  }

  .arrow {
    position: relative;
    bottom: 48vh;

    @media only screen and (max-width: 1005px) {
      // position: absolute;
       left:10px
    }
  }

  .formContainer {   
    background: transparent;
    max-width: 100%;
    margin: 0 40px 120px 0;
    flex: 1;

    @media only screen and (max-width: 1005px) {
      flex: .8;
      margin: 0 5px 25px 0;
    }
    
    @media only screen and (max-width: 490px) {
      position: relative;
      bottom:40px;
    }


    h1 {
      letter-spacing: 3px;
      margin-bottom: 50px;
      text-align: center;
      font-family: $h1Font;
      font-weight: bold;
      font-size: 2.5em;
      color: $pink;

      @media only screen and (max-width: 1005px) {
        margin-bottom: 10px;
        font-size: 2em;
      }

      @media only screen and (max-width: 490px) {
        font-size: 1.6em;
      }
    }

    .formDiv {
      border: 3px solid #fff;
      background-color: rgba(0, 0, 0, 0.418);
      padding: 60px 80px 10px 80px;
      overflow: hidden;

      @media only screen and (max-width: 600px) {
        padding: 30px 45px 5px 45px;
      }

      @media only screen and (max-width: 360px) {
        padding: 25px 25px 5px 25px;
      }

      form {
        margin: auto;
        display: flex;
        flex-direction: column;
      }

      .input {
        margin-bottom: 25px;
        border-radius: 5px;
        width: 368px;  
        align-self: center;
        background-color: rgb(218, 218, 218);

        @media only screen and (max-width: 600px) {
          width: 250px;
          height: 40px;
          margin-bottom: 8px;
        }
        @media only screen and (max-width: 420px) {
          width: 200px;
          height: 34px;
        }
        .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
          @media only screen and (max-width: 420px) {
            font-size:.8em;
          }
        }
        .MuiOutlinedInput-root{
          @media only screen and (max-width: 600px) {
            width: 250px;
            height: 40px;
          }
          @media only screen and (max-width: 420px) {
            width: 200px;
            height: 39px;
          }
        }
      }
      .name{
        margin-bottom: 12px;
      }

      textArea {
        margin: auto;
        width: 350px;
        height: 200px;
        font-size: 17px;
        font-weight: 300;
        border-radius: 5px;
        border: 1px solid rgba(8, 8, 8, 0.2);
        background-color: rgb(218, 218, 218);
        padding: 10px;

        @media only screen and (max-width: 600px) {
           width: 230px;
          height: 130px;
        }
        @media only screen and (max-width: 420px) {
          width:190px;
          padding:5px
        }
        

        &:focus {
          outline: 2px solid $pink;
        }

        &:active {
          border: 2px solid $pink;

        }

        &:hover {
          border: 1px solid rgba(8, 8, 8, .9);
        }

        &::placeholder {
          color: rgba(33, 34, 34, 0.671);
          font-family:"Roboto","Helvetica","Arial",sans-serif;
          font-weight: 400;
          font-size: .9em;
      
          @media only screen and (max-width: 420px) {
            font-size: .7em;
            padding: 0 4px 0 10px;
          }
        }

      }

      .emailErr {
        color: #fff;
        padding: 0;
        margin-bottom: 6px;
        @media only screen and (max-width: 420px) {
          font-size: .8em;
        }
      }

      button {
        margin: 30px auto;
        width: 130px;
        height: 42px;
        color: black;
        background-color: $pink;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
          margin: 15px auto 10px;
        }
        @media only screen and (max-width: 420px) {
          width:105px;
          height:35px;
          font-size: .85em;
        }

        &:hover {
          background-color: $darkPink;
        }

        &:focus {
          outline: none;
        }

        .loader {
          color: rgb(233, 233, 233);
          padding: 10px;
        }

      }

      .submitMessage {
        margin: 1px auto 10px auto;
        font-weight: 400;
        font-size: 1em;
        color: #fff;

        @media only screen and (max-width: 600px) {
          margin: 0;
        }

        .submitDisplay {
          @media only screen and (max-width: 600px) {
            display: none;
          }
        }

      }

    }
  }

  .footerRight {   
    height: 104vh;
    flex: .25;
    //  flex-direction: column;
    background-color: rgba(0, 0, 0, 0.418);
    color: #fff;
    border-left: 3px solid #fff;

    @media only screen and (max-width: 1750px) {
      flex: .4
    }

    @media only screen and (max-width: 1439px) {
      flex: .5
    }

    @media only screen and (max-width: 1275px) {
      flex: .7
    }

    @media only screen and (max-width: 1005px) {
      width: 100vw;
      height: 35vh;
      border-left: none;
      border-top: 3px solid #fff;
    }
    @media only screen and (max-width: 630px) {
      border-top: 1px solid #fff;
    }
    // @media only screen and (max-width: 420px) {
    //   height:120px
    // }

   


    hr {
      margin-top: 30px;
      text-align: center;
      max-width: 90px;
      height: 2px;
      border: none;
      background-color: #fff;

      @media only screen and (max-width: 1005px) {
        display: none;
      }
    }

    h1 {
      margin-top: 120px;
      letter-spacing: 3px;
      text-align: center;
      font-family: $h1Font;
      font-weight: bold;
      font-size: 2.5em;
      color: $pink;

      @media only screen and (max-width: 1090px) {
        margin-top: 70px;
      }

      @media only screen and (max-width: 1005px) {
        display: none;
      }
    }

    .details {
      text-align: left;
      font-weight: 300;
      margin: 70px 27px;
      font-size: 1.3em;

      @media only screen and (max-width: 1090px) {
        margin: 50px 20px;
        font-size: 1.2em;
      }

      @media only screen and (max-width: 1005px) {
        margin: 20px 35px 0 20px;
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        height: 150px;
      }

      @media only screen and (max-width: 630px) {
        font-size: 1em;
       margin:0 20px 0 0;
      }
      @media only screen and (max-width: 479px) {
        font-size:.8em;
      }

      @media only screen and (max-width: 420px) {
        justify-content:center;
      }

      .detail {
        padding-top: 4px;
        @media only screen and (max-width: 630px) {
          height: 50px;
        }
      }




      .NL {
        margin-left: 43px;

        @media only screen and (max-width: 1005px) {
          margin-left: 30px;
        }
      }

      .anchorDetail {
        text-decoration: none;
        color: #fff;

        &:hover {
          color: $pink;
          font-weight: bold;
        }
      }



      .icon {
        position: relative;
        margin: 10px 13px 0 0;
        top: 6px;

        @media only screen and (max-width: 1005px) {
          margin: 10px 4px 0 0;
          color: $pink;
        }

        @media only screen and (max-width: 630px) {
          margin: 10px 5px 0 0
        }
        @media only screen and (max-width: 479px) {
          bottom: 20px; 
        }
        @media only screen and (max-width: 420px) {
          font-size: 2.1em;
          color:rgb(80, 80, 80);
          margin: 15px 10px 0 10px;
        }
        &::hover{
          
      @media only screen and (max-width: 420px) {
        color: $pink;
      }
        }
      }

      .cv{
        @media only screen and (max-width: 420px) {
          display: none;
        }
      }
      .personal{
        @media only screen and (max-width: 420px) {
          display: none;
        }
      }

      .text {
        margin-left: 4px;

        @media only screen and (max-width: 1005px) {
          margin: 0;
          color:rgb(184, 184, 184)
        }
        @media only screen and (max-width: 420px) {
         display: none;
        }
      }


      .group2{
        @media only screen and (max-width: 420px) {
          flex-direction: row;
          display: flex;
        }
      }



    }

    .copyright {
      font-family: $exFont;
      text-align: center;
      position: relative;
      top:80px;

      @media only screen and (max-width: 1005px) {
       top: 35px;
      }

      @media only screen and (max-width: 860px) {
       // top:50px;
        bottom: 10px;
      }

      @media only screen and (max-width: 630px) {
        top:0;
        bottom:8px;
        font-size: 12px;       
      }

      @media only screen and (max-width: 420px) {
        color:rgb(201, 201, 201);
        font-size: 11px;
        margin-bottom:auto;
        position: absolute;
        top:389vh;
        left: 27vw;
      }
      @media only screen and (max-width: 330px) {
        left: 22vw;
      }

    }
    

  }

}