@import '../../global.scss';


#about {

    background: linear-gradient(0deg, rgba(24,24,24,1) 31%, rgba(24,24,24,0) 83%);
    margin: 0;
    display: flex;

    .aboutText {
        padding-top: 80px;
        color: $pink
    }

    .left {
        flex: 1;

        .textDiv{
            border: 2px solid white;
            margin:41px;
            padding: 15px;
        }
    }

    .right {
        flex: 1;
  

        .skillDiv {
            max-width: 500px;
            border: 2px solid white;
            padding: 20px;
            //margin-right: 30px;
        }

        .skillbar-title {
            letter-spacing: 1px;

            span{
                margin-right:10px;
            }

        }

        .skillbar {
            background: transparent;
            margin-bottom: 10px;
        }

        .skillbar-percent {
            color: white;
            position: relative;
            left: 115px
        }

    }

}