@import '../../global.scss';


#about {

    background: linear-gradient(0deg, rgba(24,24,24,1) 31%, rgba(24,24,24,0) 83%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        letter-spacing: 3px;
        font-family: $h1Font;
        font-weight: bold;
        font-size: 2.5em;
        color:$pink;
       
    }

    .top {
        color: white;
        .textDiv{
            border: 3px solid white;
            margin:41px;
            padding: 15px;
            background-color: $background;

            .aboutText{
                max-width: 1200px;
                color: white;
                font-size: 1.2em;
                font-weight: 300;
            }

            .btnDiv{
              text-align: center;
              width:100%;
            

              a{
                text-decoration: none;
                
              }
            
            button {
              margin: 20px;
              outline: none;
              
            
            }
            .custom-btn {
             width: 210px;
             height: 52px;
            /*   padding: 10px 25px; */
              border: 2px solid white;
             // font-family: 'Lato', sans-serif;
              font-weight: 500;
              background: rgba(14, 13, 13, .6);
              cursor: pointer;
              transition: all 0.3s ease;
              position: relative;
              display: inline-block;
            }
            
            .btn-text{
              font-family: $mainFont;
              font-weight: 300;
              font-size: 1.4em;
              color:white;
              position: relative;
              margin:0;
              padding-top:5px;
            }
            .btn-3 {
              line-height: 39px;
              padding: 0;
            }
       
            .btn-3 span {
              position: relative;
              color: white;
              display: block;
              width: 100%;
              height: 100%;
            ;
            }
            .btn-3:before,
            .btn-3:after {
              position: absolute;
              content: "";
              left: -1px;
              top: -1px;
              background: white;
              transition: all 0.3s ease;
            }
            .btn-3:before {
              height: 0%;
              width: 3px;
            }
            .btn-3:after {
              width: 0%;
              height: 3px;
            }
            .btn-3:hover:before {
              height: 100%;
            }
            .btn-3:hover:after {
              width: 100%;
            }
            .btn-3 span:before,
            .btn-3 span:after {
              position: absolute;
              content: "";
              right: -1px;
              bottom: -1px;
              background: white;
              transition: all 0.3s ease;
            }
            .btn-3 span:before {
              width: 3px;
              height: 0%;
            }
            .btn-3 span:after {
              width: 0%;
              height: 3px;
            }
            .btn-3 span:hover:before {
              height: 100%;
              color:white;
            }
            .btn-3 span:hover:after {
              width: 100%;
            }
          }
        }
    }

    .bottom {
      max-width: 1200px;
      margin-left: 40px;
      
        .skillDiv {
          margin-top:30px;
         // max-width: 1300px;
            border: 3px solid white;
            padding: 20px;
            color:white;
            background-color: $background;
            padding:0 20px;
        
  

            .skills{
                color:white;
                font-weight: 300;
                font-size: 1.3em;
                .stripe{
                    font-weight: 500;
                    font-size: 1.5em;
                    color: $pink
                }
            }
        }

        .skillbar-title {
            letter-spacing: 1px;

            span{
                margin-right:10px;
            }

        }

        .skillbar {
            background: transparent;
            margin-bottom: 10px;
        }

        .skillbar-percent {
            color: white;
            position: relative;
            left: 115px
        }

    }

}