// #525252 lightergrey
// #414141 grey
// #272727 darkgrey
// #CA3E47 pinkish
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Roboto:wght@100;300;400;700&family=Sanchez:ital@0;1&display=swap');

$navColor: #222222;
$h1Font:'Flamenco', cursive;
$fontTwo:'Sanchez', serif;
$mainFont:'Roboto', sans-serif;
$darkPink: #8a2a31;

html {
  // scroll-margin-top: 0;
  // scroll-padding-top: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    background-color: #0c0c0c;
     scroll-snap-type: y mandatory;
     scroll-behavior: smooth;

    /* width */
::-webkit-scrollbar {
    width: 10px;
  }

  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222222;
    //box-shadow: inset 0 0 5px #333333; 
   // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3a3a3a; 
    border-radius: 10px;
    opacity: 0.3;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $darkPink; 
  }
    
  }

  body {
   // overscroll-behavior-y: none;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
    margin: 0;
    overflow-x: hidden;
    background-color: #0c0c0c;
  }








// /* width */
// ::-webkit-scrollbar {
//     width: 10px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px grey; 
//     border-radius: 10px;
//   }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: red; 
//     border-radius: 10px;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #b30000; 
//   }